:root {
  --main-color: #f5f5f5;
  --main-background-color: #202020;
}

html {
  background-color: var(--main-background-color);
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-color);
}

.navbar {
  background-color: var(--main-background-color);
}

.footer {
  background-color: var(--main-background-color);
}

.footer .icon-link {
    font-size: 25px;
    color: var(--main-color);
    background-color: var(--main-background-color);
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.bib-tex {
  border-radius: 4px;
  background-color: #303030;
  color: var(--main-color);
}

.copy-clipboard-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none;
}

.button-svg-icon {
  fill: white;
  stroke: #555;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.title {
  color: var(--main-color);
  font-weight: 400;
}

h2 {
  color: var(--main-color);
}

.container {
  background-color: var(--main-background-color);
}

.hero-body {
  background-color: var(--main-background-color); 
}

.publication-title {
  color: var(--main-color);
  font-family: 'Georgia';
  font-weight: 200;
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors a {
   color: var(--main-color);
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.interpolation-panel {
  background: var(--main-color);
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}


.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
